/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/* 768px - mobile */
/* width > 768px and width < 1024px - small screen */
/* width > 1024px and width < 1440px - medium screen */
/* Large Screens (width > 1440px) - large screen */

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #540b51;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 25px 40px 25px;
}

nav .logo-slack {
  width: 120px;
  height: auto;
  object-fit: cover;
}

nav .nav-choice-container {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.button-nav-container img,
button {
  background-color: #540b51;
  border: 0px #540b51;
  padding: 0 5px;
}

.button-nav-container ul {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .hero-product-ui {
  padding: 0 25px;
  text-align: center;
}

.free-try {
  color: #ecb12f;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.signup {
  width: 100%;
  border-radius: 3px;
  height: 30px;
}

.signup-container {
  margin: 10px 0 35px 0;
}

.signup-container .first-party {
  background-color: white;
  color: #540b51;
  margin: 10px 0 10px 0;
}
.signup-container .third-party {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4;
}

.third-party img {
  width: 30px;
}

.hero-product-container {
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}
.hero-product-container img {
  width: 100%;
  object-fit: cover;
}

.companies-container {
  background-color: #f3eae2;
}
